// footer
.footer {
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    // items
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        // logo
        .footer-wrapper-logo {
            margin: 6rem 0 2rem;
        }
        // links
        .footer-wrapper-links {
            margin: 2rem 0;
            text-align: center;
            .footer-link-item {
                margin: 1.5rem;
                list-style: none;
                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
            }
        }
    }
    //  media items
    .footer-media {
        display: flex;
        align-items: center;
        flex-direction: column;
        // icons
        .footer-media-list {
            display: flex;
            align-items: center;
            margin: 1.5rem;
            // single icon
            .__icon {
                margin: 1rem;
            }
        }
        // text
        .footer-text {
            font-size: 1.2rem;
            padding: 1rem;
            color: $dark-gray;
        }
    }
}