.header {
    background-image: url('../../images/mobile/image-hero.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 8rem;
    @include media-large {
        width: auto;
    }
    // nav
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        position: relative;
        width: 90%;
        // responsive
        @include media-large {
            align-items: flex-end;
        }
        // logo
        .logo-wrapper {
            .logo {
                margin: 3rem 0 0 1rem;
                z-index: 20;
                position: relative;
                top: 0;
                left: 0;
            }
        }
        // links
        .menu-items-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: $black;
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 4;
            top: 0;
            left: 100%;
            overflow: hidden;
            transition: transform 0.5s ease;
            // responsive
            // media large
            @include media-large {
                position: static;
                background-color: transparent;
                flex-direction: row;
                width: 50%;
                justify-content: center;
                margin-bottom: 0.5rem;
            }
            //  media extra large
            @include media-extra-lg {
                width: 40%;
            }
            //  single link
            .menu-single-item {
                margin-left: 2rem;
                // responsive
                @include media-large {
                    margin-left: 0rem;
                    margin-bottom: 0.5rem;
                }
                //  item
                .--item {
                    color: $white;
                    font-weight: 500;
                    font-size: 2.6rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 2rem 0 0 3rem;
                    border: 1px solid transparent;
                    transition: 0.3s;
                    // responsive
                    @include media-large {
                        font-size: 1.6rem;
                        margin-top: 2rem;
                        &:hover {
                            border-bottom: 1px solid $white;
                        }
                    }
                    //  media extra large
                    @include media-extra-lg {
                        font-size: 1.8rem;
                    }
                }
            }
        }
        // burger-menu
        .burger-button {
            margin: 3rem 1rem 0 0;
            position: relative;
            z-index: 20;
            // responsive
            @include media-large {
                display: none;
            }
            span {
                padding: 0.2rem 1.4rem;
                background-color: $white;
                margin: 0.4rem 0;
                display: block;
                transition: all ease 0.5s;
            }
        }
        //  menu
        //  nav open
        .nav-open {
            transform: translateX(-100%);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            // responsive
            @include media-large {
                transform: none;
                flex-direction: row;
                align-items: flex-end;
            }
        }
        //  toggle
        .toggle .line1 {
            transform: rotateZ(45deg) translateY(280%);
            background: whitesmoke;
        }
        .toggle .line2 {
            opacity: 0;
        }
        .toggle .line3 {
            transform: rotateZ(-45deg) translateY(-300%);
            background: whitesmoke;
        }
    }
}