@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 62.5%; }

ul {
  list-style: none; }

.header {
  background-image: url("../../images/mobile/image-hero.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    position: relative;
    width: 90%; }
    .header .nav .logo .__img {
      margin: 3rem 0 0 1rem; }
    .header .nav .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: green;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 4;
      top: 0;
      left: 100%;
      overflow: hidden;
      transition: transform 0.5s ease; }
      .header .nav .links .--link .__item {
        color: red;
        font-weight: 500;
        font-size: 2rem;
        text-decoration: underline; }
    .header .nav .burger-btn {
      margin: 3rem 1rem 0 0;
      position: relative;
      z-index: 20; }
      .header .nav .burger-btn span {
        padding: 0.2rem 1.4rem;
        background-color: white;
        margin: 0.4rem 0;
        display: block;
        transition: all ease 0.5s; }
    .header .nav .nav-open {
      transform: translateX(-100%); }
    .header .nav .toggle .line1 {
      transform: rotateZ(45deg) translateY(280%);
      background: whitesmoke; }
    .header .nav .toggle .line2 {
      opacity: 0; }
    .header .nav .toggle .line3 {
      transform: rotateZ(-45deg) translateY(-300%);
      background: whitesmoke; }
  .header .hero {
    position: absolute;
    left: 0%;
    bottom: 35%;
    border: 1px solid white;
    margin: 3rem; }
    .header .hero .--title {
      color: white;
      font-size: 3rem;
      padding: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.1; }

#leader {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 5rem auto 0;
  align-items: center; }
  #leader .--photo .__img {
    width: 100%;
    height: 100%; }
  #leader .info {
    margin-top: 3rem; }
    #leader .info .--title {
      font-size: 3rem;
      color: black;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 2rem; }
    #leader .info .subtitle {
      font-size: 1.6rem;
      color: dimgray;
      text-align: center;
      padding: 0 2.8rem;
      line-height: 1.3; }

#creation {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto; }
  #creation .--title {
    margin: 3rem; }
  #creation .--list {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #creation .--list .__item {
      position: relative;
      margin: 1rem 0; }
      #creation .--list .__item img {
        width: 100%;
        height: 100%; }
      #creation .--list .__item .__title {
        position: absolute;
        left: 5%;
        bottom: 15%;
        z-index: 1;
        color: white;
        font-size: 2.5rem;
        font-weight: 500;
        text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
