@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth; }

ul {
  list-style: none; }

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.header {
  background-image: url("../../images/mobile/image-hero.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    position: relative;
    width: 90%; }
    .header .nav .logo .__img {
      margin: 3rem 0 0 1rem;
      z-index: 20;
      position: relative;
      top: 0;
      left: 0; }
    .header .nav .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: black;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 4;
      top: 0;
      left: 100%;
      overflow: hidden;
      transition: transform 0.5s ease; }
      .header .nav .links .--link .__item {
        color: white;
        font-weight: 500;
        font-size: 2.6rem;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0 0 3rem; }
    .header .nav .burger-btn {
      margin: 3rem 1rem 0 0;
      position: relative;
      z-index: 20; }
      .header .nav .burger-btn span {
        padding: 0.2rem 1.4rem;
        background-color: white;
        margin: 0.4rem 0;
        display: block;
        transition: all ease 0.5s; }
    .header .nav .nav-open {
      transform: translateX(-100%);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
    .header .nav .toggle .line1 {
      transform: rotateZ(45deg) translateY(280%);
      background: whitesmoke; }
    .header .nav .toggle .line2 {
      opacity: 0; }
    .header .nav .toggle .line3 {
      transform: rotateZ(-45deg) translateY(-300%);
      background: whitesmoke; }
  .header .hero {
    position: absolute;
    left: 0%;
    bottom: 35%;
    border: 1px solid white;
    margin: 3rem; }
    .header .hero .--title {
      color: white;
      font-size: 3rem;
      padding: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.1; }

#leader {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 5rem auto 0;
  align-items: center; }
  #leader .--photo .__img {
    width: 100%;
    height: 100%; }
  #leader .info {
    margin-top: 3rem; }
    #leader .info .--title {
      font-size: 3rem;
      color: black;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 2rem; }
    #leader .info .--subtitle {
      font-size: 1.4rem;
      color: dimgray;
      text-align: center;
      padding: 0 2.8rem;
      line-height: 1.7;
      font-family: "Alata", sans-serif; }

#creation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto; }
  #creation .--title {
    margin: 7rem 0 2rem;
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500; }
  #creation .--list {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #creation .--list .__item {
      position: relative;
      margin: 1rem 0; }
      #creation .--list .__item img {
        width: 100%;
        height: 100%; }
      #creation .--list .__item .__title {
        position: absolute;
        left: 5%;
        bottom: 10%;
        z-index: 1;
        color: white;
        font-size: 2.5rem;
        font-weight: 500;
        text-transform: uppercase; }
  #creation .btn {
    margin: 4rem;
    border: 1px solid black;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-family: "Alata", sans-serif;
    letter-spacing: 3px; }

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer .--items {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .--items .__logo {
      margin: 6rem 0 2rem; }
    .footer .--items .--links {
      margin: 2rem 0;
      text-align: center; }
      .footer .--items .--links .__item {
        margin: 1.5rem; }
        .footer .--items .--links .__item a {
          text-decoration: none;
          color: white;
          font-size: 1.5rem;
          text-transform: uppercase; }
  .footer .--media {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .footer .--media .--icons {
      display: flex;
      align-items: center;
      margin: 1.5rem; }
      .footer .--media .--icons .__icon {
        margin: 1rem; }
    .footer .--media .--text {
      font-size: 1.2rem;
      padding: 1rem;
      color: #8c8c8c; }

@media screen and (min-width: 768px) {
  .header .nav .nav-open {
    align-items: center;
    transform: none;
    justify-content: space-around; }
  .header .hero .--title {
    padding: 2rem;
    font-size: 3.5rem; }

  #leader .info .--subtitle {
    font-size: 1.6rem; }

  .footer .--items .--links .__item a {
    font-size: 1.8rem; }
  .footer .--media .--text {
    font-size: 1.6rem; } }
@media only screen and (min-width: 1200px) {
  .header {
    width: 100%;
    height: 80vh;
    background-position: bottom center; }
    .header .nav {
      margin: 0 auto;
      width: 85%; }
      .header .nav .logo {
        margin: 3rem 0; }
        .header .nav .logo .__img {
          margin: 0; }
      .header .nav .links {
        flex-direction: row;
        background-color: transparent;
        position: static;
        margin: 4.2rem 0 1rem;
        width: 40%; }
        .header .nav .links .--link {
          margin-bottom: 1rem; }
          .header .nav .links .--link .__item {
            margin: 0;
            font-size: 1.6rem;
            border: 1px solid transparent;
            transition: 0.3s;
            padding-bottom: 0.5rem; }
            .header .nav .links .--link .__item:active, .header .nav .links .--link .__item:hover {
              border-bottom: 1px solid white; }
      .header .nav .burger-btn {
        display: none; }
    .header .hero {
      margin: 0;
      left: 8%;
      bottom: 30%;
      width: 45%; }
      .header .hero .--title {
        padding: 3rem 5rem;
        font-size: 4.5rem; }

  #leader {
    margin-top: 8rem;
    width: 85%;
    flex-direction: row;
    position: relative; }
    #leader .--photo {
      width: 75%;
      height: 60vh; }
      #leader .--photo .__img {
        width: 100%;
        height: 100%; }
    #leader .info {
      position: absolute;
      margin: 0;
      z-index: 10;
      bottom: -1%;
      right: -5%;
      width: 50%;
      height: 60%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 2rem; }
      #leader .info .--title {
        margin-top: 7rem;
        font-size: 4rem;
        color: dimgray; }

  #creation {
    margin-top: 8rem;
    margin-bottom: 10rem;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr); }
    #creation .--title {
      order: 1;
      margin: 0;
      font-size: 4.5rem; }
    #creation .--list {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      order: 3; }
      #creation .--list .__item {
        height: 25vh;
        width: 20vw;
        margin: 0; }
    #creation .btn {
      order: 2;
      position: relative;
      right: 100%;
      bottom: 5%;
      width: 80%;
      text-align: center;
      transition: 0.3s; }
      #creation .btn:hover, #creation .btn:active {
        background-color: black;
        color: white; }

  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .footer .--items {
      margin-left: 9rem;
      align-items: flex-start; }
      .footer .--items .__logo {
        margin-top: 6rem; }
      .footer .--items .--links {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .footer .--items .--links .__item a {
          font-size: 1.4rem;
          margin: 0 0 2rem -2rem;
          border: 1px solid transparent;
          transition: 0.3s;
          padding-bottom: 0.5rem; }
          .footer .--items .--links .__item a:hover, .footer .--items .--links .__item a:active {
            border-bottom: 1px solid white; }
    .footer .--media .--icons {
      margin: 0 0 6rem 8rem; }
      .footer .--media .--icons .__icon {
        transition: 0.3s;
        border: 1px solid transparent;
        padding-bottom: 0.5rem; }
        .footer .--media .--icons .__icon:hover, .footer .--media .--icons .__icon:active {
          border-bottom: 1px solid white; }
    .footer .--media .--text {
      margin-right: 7rem; } }
@media only screen and (min-width: 1440px) {
  .header .hero .--title {
    font-size: 6.5rem; }

  #leader .--photo {
    width: 70%; }
    #leader .--photo .__img {
      width: 90%; }
  #leader .info .--subtitle {
    margin-top: 3rem; }

  .footer .--items {
    margin-left: 14rem; }
  .footer .--media {
    margin-right: 10rem; } }

/*# sourceMappingURL=main.css.map */
